<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <h4 class="card-title">Usuarios</h4>
                <p class="card-title-desc">Lista de usuarios del sistema</p>

                <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-bordered dt-responsive nowrap row-border hover"
                    style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nombre</th>
                            <th>Email</th>
                            <th>Rol</th>
                            <th>Telefono</th>
                            <th>Opciones</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="(loading === true)">
                        <tr>
                            <td colspan="6" style="text-align: center;">Cargando..</td>
                        </tr>
                    </tbody>
                    <tbody *ngIf="(loading === false)">
                        <tr *ngFor="let user of users">
                            <td>{{ user.id }}</td>
                            <td>{{ user.name }}</td>
                            <td>{{ user.email }}</td>
                            <td>{{ user.role.name }}</td>
                            <td>{{ user.phone }}</td>
                            <td>
                                <a [routerLink]="['edit', user.id]" class="btn-table btn btn-secondary" title="Editar"><i class="bx bx-edit-alt"></i></a>
                                <a [routerLink]="" (click)="removeUser(user)" class="btn-table btn btn-secondary"title="Eliminar"><i class="bx bx-trash-alt"></i></a>
                            </td>
                        </tr>
                    </tbody>
                    
                </table>

            </div>
        </div>
    </div> <!-- end col -->
</div> <!-- end row -->