<!-- start page title -->
<div class="row">
  <div class="col-12">
    <div class="page-title-box d-flex align-items-center justify-content-between">
      <h4 class="mb-0 font-size-18">Detalle de solicitud</h4>

      <div class="page-title-right">
        <ol class="breadcrumb m-0">
          <li class="breadcrumb-item">Solicitudes</li>
          <li class="breadcrumb-item active">Detalle</li>
        </ol>
      </div>

    </div>
  </div>
</div>
<!-- end page title -->

<div class="row">

  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="alert alert-success alert-dismissible fade show" role="alert" *ngIf="(solicitud.estadosolicitud_id === 2)">
          La lista de partes para esta solicitud esta <strong>completa</strong>
          <button type="button" class="ml-2 btn btn-light" aria-label="Cerrar solicitud" [disabled]="(loading === true)" (click)="closeSolicitud()"><i class="mdi mdi-thumb-up"></i> Cerrar solicitud</button>
        </div>
        <button class="btn btn-info btn-right" (click)="goTo_duplicateSolicitud()" [disabled]="(loading === true)">Duplicar solicitud</button>
        <h4 class="card-title">Solicitud {{ solicitud.id !== null ? "#" + solicitud.id : '' }}</h4>
        <span class="badge" [class.badge-warning]="(solicitud.estadosolicitud_id === 1)"
            [class.badge-success]="(solicitud.estadosolicitud_id === 2)"
            [class.badge-primary]="(solicitud.estadosolicitud_id === 3)"
            *ngIf="(solicitud.estadosolicitud_name !== null)">{{ solicitud.estadosolicitud_name }}</span>
        <p class="card-title-desc">Detalle de la solicitud</p>
        <div class="row">
          <div class="col-6">
            <div class="form-group">
              <label class="control-label">Cliente</label>
              <br>
              <label>{{ solicitud.cliente_name }}</label>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group">
              <label class="control-label">Faena</label>
              <br>
              <label>{{ solicitud.faena_name }}</label>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group">
              <label class="control-label">Marca</label>
              <br>
              <label>{{ solicitud.marca_name }}</label>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group">
              <label class="control-label">Comprador</label>
              <br>
              <label>{{ solicitud.comprador_name }}</label>
            </div>
          </div>
          <div class="col-12">
            <div class="form-group">
              <label class="control-label">Comentario</label>
              <br>
              <label>{{ solicitud.comentario }}</label>
            </div>
          </div>
        </div>

        <hr>
        <h4 class="card-title">Lista de partes</h4>
        <p class="card-title-desc">Lista de partes en la solicitud</p>

        <div class="table-responsive">

          <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-hover table-bordered mb-2">
            <thead>
              <tr>
                <th>Cantidad</th>
                <th>N° Parte</th>
                <th>Descripcion</th>
                <th>Tiempo de entrega</th>
                <th>Monto (CLP)</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let parte of partes; index as i">
                <td align="right">{{ parte.cantidad !== null ? parte.cantidad : "" }}</td>
                <td align="left"><i class="bx bx-timer icon-table" *ngIf="(parte.backorder === true)"></i>{{ parte.nparte !== null ? parte.nparte : "" }}</td>
                <td align="right">{{ parte.descripcion !== null ? parte.descripcion : "" }}</td>
                <td align="right">{{ parte.tiempoentrega !== null ? parte.tiempoentrega + " dias" : ""
                  }}</td>
                <td align="right">{{ parte.monto !== null ? "$" + moneyStringFormat(parte.monto) : "" }}</td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="5" align="right">
                  <button type="button" class="btn btn-outline-primary" (click)="exportPartesToExcel()"
                      [disabled]="(loading === true)">
                    <i class="bx bx-spreadsheet font-size-16 align-middle"></i> Exportar a Excel
                  </button>
                </td>
              </tr>
            </tfoot>
          </table>
        </div>

        <div class="row">
          <div class="col-12">
            <div class="form-buttons mt-2">
              <button [disabled]="(loading === true)" class="btn btn-light" (click)="goTo_back()">
                <span>Volver</span>
              </button>
            </div>
          </div>
        </div>

      </div>
    </div>
    <!-- end card -->

  </div>

</div>
<!-- end row -->