<!-- Begin page -->
<div id="layout-wrapper">\

    <app-topbar></app-topbar>
    <app-menubar></app-menubar>

    <div class="main-content">

        <div class="page-content">
            <div class="container-fluid">

                <!-- Content (page) -->
                <router-outlet></router-outlet>
                <!-- /Content (page) -->

            </div>
            <!-- container-fluid -->
        </div>
        <!-- End Page-content -->

        <app-footer></app-footer>

    </div>
    <!-- end main content-->

</div>
<!-- END layout-wrapper -->