<!-- start page title -->
<div class="row">
  <div class="col-12">
      <div class="page-title-box d-flex align-items-center justify-content-between">
          <h4 class="mb-0 font-size-18">Lista de faenas</h4>

          <div class="page-title-right">
              <ol class="breadcrumb m-0">
                  <li class="breadcrumb-item">Clientes</li>
                  <li class="breadcrumb-item active">Lista de faenas</li>
              </ol>
          </div>

      </div>
  </div>
</div>
<!-- end page title -->

<div class="row">
  <div class="col-12">
      <div class="card">
          <div class="card-body">

              <h4 class="card-title">Faenas{{ this.cliente.name !== null ? ' en ' + cliente.name : '' }}</h4>
              <p class="card-title-desc">Lista de faenas del sistema</p>

              <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
                  class="table table-bordered dt-responsive nowrap row-border hover"
                  style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                  <thead>
                      <tr>
                          <th>ID</th>
                          <th>Nombre</th>
                          <th>Opciones</th>
                      </tr>
                  </thead>
                  <tbody *ngIf="(loading === true)">
                      <tr>
                          <td colspan="3" style="text-align: center;"><i class="bx bx-loader bx-spin font-size-16 align-middle mr-2"></i>Cargando..</td>
                      </tr>
                  </tbody>
                  <tbody *ngIf="(loading === false)">
                      <tr *ngFor="let faena of faenas">
                          <td>{{ faena.id }}</td>
                          <td>{{ faena.name }}</td>
                          <td align="center">
                              <a [routerLink]="['edit', faena.id]" class="btn-table btn btn-secondary"
                                  title="Editar"><i class="bx bx-edit-alt"></i></a>
                              <a [routerLink]="" (click)="removeFaena(faena)" class="btn-table btn btn-secondary"
                                  title="Eliminar"><i class="bx bx-trash-alt"></i></a>
                          </td>
                      </tr>
                  </tbody>
                  <tfoot>
                    <tr>
                      <td colspan="3" align="left">
                        <button type="button" class="btn btn-outline-primary" (click)="goTo_newFaena()" [disabled]="(loading === true)">
                          <i class="bx bx-pen font-size-16 align-middle"></i> Nueva faena
                        </button>
                      </td>
                    </tr>
                  </tfoot>
              </table>

          </div>
      </div>
  </div> <!-- end col -->
</div> <!-- end row -->