<!-- start page title -->
<div class="row">
  <div class="col-12">
    <div class="page-title-box d-flex align-items-center justify-content-between">
      <h4 class="mb-0 font-size-18">Nueva entrega</h4>

      <div class="page-title-right">
        <ol class="breadcrumb m-0">
          <li class="breadcrumb-item">Entregas</li>
          <li class="breadcrumb-item">Centro distribucion</li>
          <li class="breadcrumb-item active">Nueva entrega</li>
        </ol>
      </div>

    </div>
  </div>
</div>
<!-- end page title -->

<div class="row">

  <div class="col-12">
    <div class="card">

      <!-- OC selection -->
      <div class="card-body" [hidden]="(DISPLAYING_FORM !== 0)">
        <h4 class="card-title">OCs</h4>
        <p class="card-title-desc">Selecciona la OC con partes pendiente para registrar una nueva entrega</p>

        <div class="row">

          <div class="col-12">

            <!-- OCs list -->
            <div class="table-responsive">

              <table datatable [dtOptions]="dtOptionsOcs" [dtTrigger]="dtTriggerOcs" class="table table-hover table-bordered mb-2">
                <thead>
                  <tr>
                    <th>N° OC Cliente</th>
                    <th>OC Interna</th>
                    <th>Cotizacion</th>
                    <th>Cliente</th>
                    <th>Faena</th>
                    <th>Marca</th>
                    <th>Ejecutivo</th>
                    <th>Partes</th>
                    <th>Dias</th>
                    <th>Estado</th>
                    <th>Opciones</th>
                  </tr>
                </thead>
                <tbody *ngIf="(loading === true)">
                  <tr>
                    <td colspan="11" style="text-align: center;"><i
                          class="bx bx-loader bx-spin font-size-16 align-middle mr-2"></i>Cargando..</td>
                  </tr>
                </tbody>
                <tbody [hidden]="(loading === true)">
                  <tr *ngFor="let oc of ocs; index as i">
                    <td align="center">{{ oc.noccliente ? oc.noccliente : '' }}</td>
                    <td align="center">{{ oc.id ? oc.id : '' }}</td>
                    <td align="center">{{ oc.cotizacion.id ? oc.cotizacion.id : ''}}</td>
                    <td align="center">{{ oc.cotizacion.solicitud.faena.cliente.name }}</td>
                    <td align="center">{{ oc.cotizacion.solicitud.faena.name }}</td>
                    <td align="center">{{ oc.cotizacion.solicitud.marca.name }}</td>
                    <td align="center">{{ oc.cotizacion.solicitud.user.name }}</td>
                    <td align="right">{{ oc.partes_total }}</td>
                    <td align="right">{{ oc.dias }}</td>
                    <td align="center">{{ oc.estadooc.name }}</td>
                    <td align="center">
                      <a class="btn-table btn btn-secondary" title="Seleccionar" (click)="goTo_entregaForm(oc)"><i class="bx bx-log-in-circle"></i></a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        
        </div>

        <div class="row">
          <div class="col-12">
            <div class="form-buttons mt-2">
              <button class="btn btn-primary mr-2" (click)="storeEntrega()"
                  [disabled]="(entregaForm.invalid) || (loading === true) || (isCheckedItem(partes) === false)">
                <span *ngIf="loading === true"><i class="bx bx-loader bx-spin font-size-16 align-middle mr-2"></i>Cargando..</span>
                <span *ngIf="loading === false">Guardar</span>
              </button>
              <button [disabled]="(loading === true)" class="btn btn-light" (click)="goTo_entregasList()">
                <span>Cancelar</span>
              </button>
            </div>
          </div>
        </div>

      </div>
      <!-- OC selection-ends -->

      <!-- Entrega form -->
      <div class="card-body" [hidden]="(DISPLAYING_FORM !== 1)">
        <h4 class="card-title">Entrega</h4>
        <p class="card-title-desc">Completa los siguientes campos para registrar una nueva entrega</p>

        <form [formGroup]="entregaForm" (ngSubmit)="storeEntrega()" action="#">
            
          <div class="row">
            <div class="col-4">
							<div class="form-group">
								<label class="control-label" for="name">OC Interna</label>
                <br>
								<label>{{ this.oc !== null ? this.oc.id : '' }}</label>
							</div>
						</div>
            <div class="col-4">
							<div class="form-group">
								<label class="control-label" for="name">OC Cliente</label>
                <br>
								<label>{{ this.oc !== null ? this.oc.noccliente : '' }}</label>
							</div>
						</div>
            <div class="col-4">
							<div class="form-group">
								<label class="control-label" for="name">Cliente</label>
                <br>
								<label>{{ this.oc !== null ? this.oc.cotizacion.solicitud.faena.cliente.name : '' }}</label>
							</div>
						</div>
            <div class="col-4">
							<div class="form-group">
								<label class="control-label" for="name">Faena</label>
                <br>
								<label>{{ this.oc !== null ? this.oc.cotizacion.solicitud.faena.name : '' }}</label>
							</div>
						</div>
            <div class="col-4">
							<div class="form-group">
								<label class="control-label" for="name">Fecha de entrega</label>
								<!-- Backend errors -->
								<div class="alert alert-danger" *ngIf="(responseErrors.fecha)">
									<div *ngFor="let errorMessage of responseErrors.fecha">{{ errorMessage }}</div>
								</div>
								<input type="date" class="form-control valid-control" name="fecha" id="despacho_fecha" max="{{ getDateToday() }}"
									formControlName="fecha">
								<!-- Frontend errors -->
								<div
									*ngIf="(entregaForm.controls.fecha.errors) && (entregaForm.controls.fecha.touched) && (entregaForm.controls.fecha.dirty)">
									<div class="error-response" *ngIf="entregaForm.controls.fecha.errors.required === true">
										La fecha es obligatoria
									</div>
								</div>
							</div>
						</div>
            <div class="col-4">
							<div class="form-group">
								<label class="control-label" for="documento">N° Guia despacho</label>
								<!-- Backend errors -->
								<div class="alert alert-danger" *ngIf="(responseErrors.ndocumento)">
									<div *ngFor="let errorMessage of responseErrors.ndocumento">{{ errorMessage }}</div>
								</div>
								<input type="text" class="form-control valid-control" name="documento" id="documento"
									formControlName="documento">
								<!-- Frontend errors -->
								<div
									*ngIf="(entregaForm.controls.documento.errors) && (entregaForm.controls.documento.touched) && (entregaForm.controls.documento.dirty)">
									<div class="error-response" *ngIf="entregaForm.controls.documento.errors.required === true">
										El documento es obligatorio
									</div>
								</div>
							</div>
						</div>
            <div class="col-4">
							<div class="form-group">
								<label class="control-label" for="responsable">Entregado por</label>
								<!-- Backend errors -->
								<div class="alert alert-danger" *ngIf="(responseErrors.responsable)">
									<div *ngFor="let errorMessage of responseErrors.responsable">{{ errorMessage }}</div>
								</div>
								<input type="text" class="form-control valid-control" name="responsable" id="responsable"
									formControlName="responsable">
								<!-- Frontend errors -->
								<div
									*ngIf="(entregaForm.controls.responsable.errors) && (entregaForm.controls.responsable.touched) && (entregaForm.controls.responsable.dirty)">
									<div class="error-response" *ngIf="entregaForm.controls.responsable.errors.required === true">
										El responsable es obligatorio
									</div>
									<div class="error-response"
										*ngIf="entregaForm.controls.responsable.errors.minlength !== null">El nombre del responsable debe tener al
										menos 2 caracteres</div>
								</div>
							</div>
						</div>
            <div class="col-8">
              <div class="form-group">
                <label class="control-label" for="name">Comentario</label>
                <input type="text" class="form-control valid-control" name="comentario" id="comentario"
									formControlName="comentario">
              </div>
            </div>
          </div>
          
          <!-- Partes list -->
          <div class="row">

            <div class="col-12">
              <label class="control-label">Lista de partes disponibles para entrega</label>
              <p class="card-title-desc">Completa las cantidades para las partes que se entregan</p>

              <div class="table-responsive">

                <table datatable [dtOptions]="dtOptionsPartes" [dtTrigger]="dtTriggerPartes" class="table table-hover table-bordered mb-2">
                  <thead>
                    <tr>
                      <th>
                        <div class="custom-header-checkbox custom-checkbox custom-checkbox-outline custom-checkbox-primary">
                          <input type="checkbox" class="custom-control-input" id="chkParte-header" (change)="checkPartesList($event)" [checked]="isCheckedItem(partes) ? (isUncheckedItem(partes) ? false : true) : false">
                          <label class="custom-control-label" for="chkParte-header">Todos</label>
                        </div>
                      </th>
                      <th>N° Parte</th>
                      <th>Marca</th>
                      <th>Cantidad</th>
                      <th>Pendiente</th>
                      <th>En stock</th>
                    </tr>
                  </thead>
                  <tbody *ngIf="(loading === true)">
                    <tr>
                      <td colspan="6" style="text-align: center;"><i
                            class="bx bx-loader bx-spin font-size-16 align-middle mr-2"></i>Cargando..</td>
                    </tr>
                  </tbody>
                  <tbody [hidden]="(loading === true)">
                    <tr *ngFor="let parte of partes; index as i">
                      <td align="center">
                        <div class="custom-control custom-checkbox custom-checkbox-outline custom-checkbox-primary mb-3">
                          <input type="checkbox" class="custom-control-input" id="chkParte-{{ i }}" [checked]="parte.checked" (change)="checkParteItem(parte, $event)" [disabled]="(loading === true)">
                          <label class="custom-control-label" for="chkParte-{{ i }}"></label>
                        </div>
                      </td>
                      <td align="center"><i class="bx bx-timer icon-table" *ngIf="(parte.backorder === true)"></i>{{ parte.nparte !== null ? parte.nparte : '' }}</td>
                      <td align="center">{{ parte.marca.name !== null ? parte.marca.name : '' }}</td>
                      <td align="center">
                        <input class="form-control" type="number" name="" id="txtParte-{{ i }}-cantidad" min="1" max="{{parte.cantidad_max}}" value="{{ (parte.cantidad_max !== null) && (parte.checked === true) ? parte.cantidad_max : '' }}" (change)="updateParte_cantidad(parte, $event)" [disabled]="loading === true ? true : (parte.checked ? false : true)">
                      </td>
                      <td align="right">{{ parte.cantidad_pendiente !== null ? parte.cantidad_pendiente : '' }}</td>
                      <td align="right">{{ parte.cantidad_stock !== null ? parte.cantidad_stock : '' }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          
          </div>
          
        </form>

        <div class="row">
          <div class="col-12">
            <div class="form-buttons mt-2">
              <button class="btn btn-primary mr-2" (click)="storeEntrega()"
                  [disabled]="(entregaForm.invalid) || (loading === true) || (isCheckedItem(partes) === false)">
                <span *ngIf="loading === true"><i class="bx bx-loader bx-spin font-size-16 align-middle mr-2"></i>Cargando..</span>
                <span *ngIf="loading === false">Guardar</span>
              </button>
              <button [disabled]="(loading === true)" class="btn btn-light" (click)="goTo_ocsList()">
                <span>Cancelar</span>
              </button>
            </div>
          </div>
        </div>

      </div>
      <!-- Entrega form-ends -->

    </div>
    <!-- end card -->

  </div>

</div>
<!-- end row -->