<!-- Loading -->
<div *ngIf="(loading === true)">
    <app-loading></app-loading>
</div>
<!-- Loading ends -->

<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="mb-0 font-size-18">Nuevo proveedor</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item">Compradores</li>
                    <li class="breadcrumb-item">Proveedores</li>
                    <li class="breadcrumb-item active">Nuevo proveedor</li>
                </ol>
            </div>

        </div>
    </div>
</div>
<!-- end page title -->

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <h4 class="card-title">Nuevo proveedor{{ this.comprador.name !== null ? ' de ' + comprador.name : '' }}</h4>
                <p class="card-title-desc">Completa los siguientes campos para crear un nuevo proveedor en el sistema</p>

                <form [formGroup]="proveedorForm" (ngSubmit)="storeProveedor()" action="#">
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label class="control-label required-field" for="rut">RUT</label>
                                <!-- Backend errors -->
                                <div class="alert alert-danger" *ngIf="(responseErrors.rut)">
                                    <div *ngFor="let errorMessage of responseErrors.rut">{{ errorMessage }}</div>
                                </div>
                                <input type="text" class="form-control valid-control" name="rut" id="rut" formControlName="rut">
                                <!-- Frontend errors -->
                                <div *ngIf="(proveedorForm.controls.rut.errors) && (proveedorForm.controls.rut.touched) && (proveedorForm.controls.rut.dirty)">
                                    <div class="error-response" *ngIf="proveedorForm.controls.rut.errors.required === true">
                                        El RUT es obligatorio
                                    </div>
                                    <div class="error-response" *ngIf="proveedorForm.controls.rut.errors.minlength !== null">El RUT debe tener al menos 4 caracteres</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label class="control-label required-field" for="name">Nombre</label>
                                <!-- Backend errors -->
                                <div class="alert alert-danger" *ngIf="(responseErrors.name)">
                                    <div *ngFor="let errorMessage of responseErrors.name">{{ errorMessage }}</div>
                                </div>
                                <input type="text" class="form-control valid-control" name="name" id="name" formControlName="name">
                                <!-- Frontend errors -->
                                <div *ngIf="(proveedorForm.controls.name.errors) && (proveedorForm.controls.name.touched) && (proveedorForm.controls.name.dirty)">
                                    <div class="error-response" *ngIf="proveedorForm.controls.name.errors.required === true">
                                        El nombre es obligatorio
                                    </div>
                                    <div class="error-response" *ngIf="proveedorForm.controls.name.errors.minlength !== null">El nombre debe tener al menos 4 caracteres</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label class="control-label required-field" for="address">Direccion</label>
                                <!-- Backend errors -->
                                <div class="alert alert-danger" *ngIf="(responseErrors.address)">
                                    <div *ngFor="let errorMessage of responseErrors.address">{{ errorMessage }}</div>
                                </div>
                                <input type="text" class="form-control valid-control" name="address" id="address" formControlName="address">
                                <!-- Frontend errors -->
                                <div *ngIf="(proveedorForm.controls.address.errors) && (proveedorForm.controls.address.touched) && (proveedorForm.controls.address.dirty)">
                                    <div class="error-response" *ngIf="proveedorForm.controls.address.errors.required === true">
                                        La direccion es obligatoria
                                    </div>
                                    <div class="error-response" *ngIf="proveedorForm.controls.address.errors.minlength !== null">La direccion debe tener al menos 4 caracteres</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label class="control-label required-field" for="city">Ciudad</label>
                                <!-- Backend errors -->
                                <div class="alert alert-danger" *ngIf="(responseErrors.city)">
                                    <div *ngFor="let errorMessage of responseErrors.city">{{ errorMessage }}</div>
                                </div>
                                <input type="text" class="form-control valid-control" name="city" id="city" formControlName="city">
                                <!-- Frontend errors -->
                                <div *ngIf="(proveedorForm.controls.city.errors) && (proveedorForm.controls.city.touched) && (proveedorForm.controls.city.dirty)">
                                    <div class="error-response" *ngIf="proveedorForm.controls.city.errors.required === true">
                                        La ciudad es obligatoria
                                    </div>
                                    <div class="error-response" *ngIf="proveedorForm.controls.city.errors.minlength !== null">La ciudad debe tener al menos 4 caracteres</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label class="control-label required-field" for="email">Email</label>
                                <!-- Backend errors -->
                                <div class="alert alert-danger" *ngIf="(responseErrors.email)">
                                    <div *ngFor="let errorMessage of responseErrors.email">{{ errorMessage }}</div>
                                </div>
                                <input type="text" class="form-control valid-control" name="email" id="email" formControlName="email">
                                <!-- Frontend errors -->
                                <div *ngIf="(proveedorForm.controls.email.errors) && (proveedorForm.controls.email.touched) && (proveedorForm.controls.email.dirty)">
                                    <div class="error-response" *ngIf="proveedorForm.controls.email.errors.required === true">El email es obligatorio
                                    </div>
                                    <div class="error-response" *ngIf="proveedorForm.controls.email.errors.email !== null">El email debe ser valido</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label class="control-label required-field" for="phone">Telefono</label>
                                <!-- Backend errors -->
                                <div class="alert alert-danger" *ngIf="(responseErrors.phone)">
                                    <div *ngFor="let errorMessage of responseErrors.phone">{{ errorMessage }}</div>
                                </div>
                                <input type="text" class="form-control valid-control" name="phone" id="phone" formControlName="phone">
                                <!-- Frontend errors -->
                                <div *ngIf="(proveedorForm.controls.phone.errors) && (proveedorForm.controls.phone.touched) && (proveedorForm.controls.phone.dirty)">
                                    <div class="error-response" *ngIf="proveedorForm.controls.phone.errors.required === true">
                                        El telefono es obligatorio
                                    </div>
                                    <div class="error-response" *ngIf="proveedorForm.controls.phone.errors.minlength !== null">El telefono debe tener al menos 4 caracteres</div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="col-6">
                            <div class="form-group">
                                <label class="control-label" for="delivered">Punto de entrega</label>
                                <!-- Backend errors -->
                                <div class="alert alert-danger" *ngIf="(responseErrors.delivered)">
                                    <div *ngFor="let errorMessage of responseErrors.delivered">{{ errorMessage }}</div>
                                </div>
                                <div class="custom-control custom-checkbox mb-3">
                                    <input type="checkbox" class="custom-control-input" id="delivered" name="delivered" formControlName="delivered" (change)="updateStatusDelivered()">
                                    <label class="custom-control-label" for="delivered">Este proveedor realiza entrega</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group delivery-field">
                                <label class="control-label required-field" for="delivery_name">Nombre punto de entrega</label>
                                <!-- Backend errors -->
                                <div class="alert alert-danger" *ngIf="(responseErrors.delivery_name)">
                                    <div *ngFor="let errorMessage of responseErrors.delivery_name">{{ errorMessage }}</div>
                                </div>
                                <input type="text" class="form-control valid-control" name="delivery_name" id="delivery_name" formControlName="delivery_name">
                                <!-- Frontend errors -->
                                <div *ngIf="(proveedorForm.controls.delivery_name.errors) && (proveedorForm.controls.delivery_name.touched) && (proveedorForm.controls.delivery_name.dirty)">
                                    <div class="error-response" *ngIf="proveedorForm.controls.delivery_name.errors.required === true">
                                        El nombre es obligatorio
                                    </div>
                                    <div class="error-response" *ngIf="proveedorForm.controls.delivery_name.errors.minlength !== null">El nombre debe tener al menos 4 caracteres</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group delivery-field">
                                <label class="control-label required-field" for="delivery_address">Direccion punto de entrega</label>
                                <!-- Backend errors -->
                                <div class="alert alert-danger" *ngIf="(responseErrors.delivery_address)">
                                    <div *ngFor="let errorMessage of responseErrors.delivery_address">{{ errorMessage }}</div>
                                </div>
                                <input type="text" class="form-control valid-control" name="delivery_address" id="delivery_address" formControlName="delivery_address">
                                <!-- Frontend errors -->
                                <div *ngIf="(proveedorForm.controls.delivery_address.errors) && (proveedorForm.controls.delivery_address.touched) && (proveedorForm.controls.delivery_address.dirty)">
                                    <div class="error-response" *ngIf="proveedorForm.controls.delivery_address.errors.required === true">
                                        La direccion es obligatoria
                                    </div>
                                    <div class="error-response" *ngIf="proveedorForm.controls.delivery_address.errors.minlength !== null">La direccion debe tener al menos 4 caracteres</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group delivery-field">
                                <label class="control-label required-field" for="delivery_city">Ciudad punto de entrega</label>
                                <!-- Backend errors -->
                                <div class="alert alert-danger" *ngIf="(responseErrors.delivery_city)">
                                    <div *ngFor="let errorMessage of responseErrors.delivery_city">{{ errorMessage }}</div>
                                </div>
                                <input type="text" class="form-control valid-control" name="delivery_city" id="delivery_city" formControlName="delivery_city">
                                <!-- Frontend errors -->
                                <div *ngIf="(proveedorForm.controls.delivery_city.errors) && (proveedorForm.controls.delivery_city.touched) && (proveedorForm.controls.delivery_city.dirty)">
                                    <div class="error-response" *ngIf="proveedorForm.controls.delivery_city.errors.required === true">
                                        La ciudad es obligatoria
                                    </div>
                                    <div class="error-response" *ngIf="proveedorForm.controls.delivery_city.errors.minlength !== null">La ciudad debe tener al menos 4 caracteres</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group delivery-field">
                                <label class="control-label required-field" for="delivery_email">Email punto de entrega</label>
                                <!-- Backend errors -->
                                <div class="alert alert-danger" *ngIf="(responseErrors.delivery_email)">
                                    <div *ngFor="let errorMessage of responseErrors.delivery_email">{{ errorMessage }}</div>
                                </div>
                                <input type="text" class="form-control valid-control" name="delivery_email" id="delivery_email" formControlName="delivery_email">
                                <!-- Frontend errors -->
                                <div *ngIf="(proveedorForm.controls.delivery_email.errors) && (proveedorForm.controls.delivery_email.touched) && (proveedorForm.controls.delivery_email.dirty)">
                                    <div class="error-response" *ngIf="proveedorForm.controls.delivery_email.errors.required === true">El email es obligatorio
                                    </div>
                                    <div class="error-response" *ngIf="proveedorForm.controls.delivery_email.errors.email !== null">El email debe ser valido</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group delivery-field">
                                <label class="control-label required-field" for="delivery_phone">Telefono punto de entrega</label>
                                <!-- Backend errors -->
                                <div class="alert alert-danger" *ngIf="(responseErrors.delivery_phone)">
                                    <div *ngFor="let errorMessage of responseErrors.delivery_phone">{{ errorMessage }}</div>
                                </div>
                                <input type="text" class="form-control valid-control" name="delivery_phone" id="delivery_phone" formControlName="delivery_phone">
                                <!-- Frontend errors -->
                                <div *ngIf="(proveedorForm.controls.delivery_phone.errors) && (proveedorForm.controls.delivery_phone.touched) && (proveedorForm.controls.delivery_phone.dirty)">
                                    <div class="error-response" *ngIf="proveedorForm.controls.delivery_phone.errors.required === true">
                                        El telefono es obligatorio
                                    </div>
                                    <div class="error-response" *ngIf="proveedorForm.controls.delivery_phone.errors.minlength !== null">El telefono debe tener al menos 4 caracteres</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-buttons mt-2">
                                <button type="submit" class="btn btn-primary mr-2" [disabled]="(proveedorForm.invalid) || (loading === true)">
									<span *ngIf="loading === true"><i class="bx bx-loader bx-spin font-size-16 align-middle mr-2"></i>Cargando..</span>
									<span *ngIf="loading === false">Guardar</span>
								</button>
                                <button [disabled]="(loading === true)" class="btn btn-light" (click)="goTo_proveedoresList()">
									<span>Cancelar</span>
								</button>
                            </div>
                        </div>
                    </div>

                </form>

            </div>
        </div>
        <!-- end select2 -->

    </div>
</div>
<!-- end row -->