<!-- start page title -->
<div class="row">
  <div class="col-12">
    <div class="page-title-box d-flex align-items-center justify-content-between">
      <h4 class="mb-0 font-size-18">Lista de cotizaciones</h4>

      <div class="page-title-right">
        <ol class="breadcrumb m-0">
          <li class="breadcrumb-item">Cotizaciones</li>
          <li class="breadcrumb-item active">Lista de cotizaciones</li>
        </ol>
      </div>

    </div>
  </div>
</div>
<!-- end page title -->

<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <app-pdf-cotizacion #reportCotizacion></app-pdf-cotizacion>

        <h4 class="card-title">Cotizaciones</h4>
        <p class="card-title-desc">Lista de cotizaciones del sistema</p>

        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
            class="table table-bordered dt-responsive nowrap row-border hover"
            style="border-collapse: collapse; border-spacing: 0; width: 100%;">
          <thead>
            <tr>
              <th>
                <div class="custom-header-checkbox custom-checkbox custom-checkbox-outline custom-checkbox-primary">
                  <input type="checkbox" class="custom-control-input" id="chkCotizacion-header" (change)="checkCotizacionesList($event)" [checked]="isCheckedItem(cotizaciones) ? (isUncheckedItem(cotizaciones) ? false : true) : false">
                  <label class="custom-control-label" for="chkCotizacion-header">Todos</label>
                </div>
              </th>
              <th>Cotizacion</th>
              <th>Fecha</th>
              <th>Cliente</th>
              <!-- <th>Faena</th> -->
              <th>Marca</th>
              <th>Ejecutivo</th>
              <th>Partes</th>
              <th>Dias</th>
              <th>Monto</th>
              <th>Estado</th>
              <th>Opciones</th>
            </tr>
          </thead>
          <tbody *ngIf="(loading === true)">
            <tr>
              <td colspan="11" style="text-align: center;"><i
                    class="bx bx-loader bx-spin font-size-16 align-middle mr-2"></i>Cargando..</td>
            </tr>
          </tbody>
          <tbody *ngIf="(loading === false)">
            <tr *ngFor="let cotizacion of cotizaciones">
              <td align="center">
                <div class="custom-control custom-checkbox custom-checkbox-outline custom-checkbox-primary mb-3">
                  <input type="checkbox" class="custom-control-input" id="chkCotizacion-{{ cotizacion.id }}" [checked]="cotizacion.checked" (change)="checkCotizacionItem(cotizacion, $event)">
                  <label class="custom-control-label" for="chkCotizacion-{{ cotizacion.id }}"></label>
                </div>
              </td>
              <td align="center">{{ cotizacion.id }}</td>
              <td>{{ dateStringFormat(cotizacion.updated_at) }}</td>
              <td>{{ cotizacion.solicitud.faena.cliente.name }}</td>
              <!-- <td>{{ cotizacion.solicitud.faena.name }}</td> -->
              <td>{{ cotizacion.solicitud.marca.name }}</td>
              <td>{{ cotizacion.solicitud.user.name }}</td>
              <td align="right">{{ cotizacion.partes_total }}</td>
              <td align="right">{{ cotizacion.dias }}</td>
              <td align="right">{{ "$" + moneyStringFormat(cotizacion.monto) }}</td>
              <td align="center">{{ cotizacion.estadocotizacion.name }}</td>
              <td align="center">
                <a [routerLink]="['details', cotizacion.id]" class="btn-table btn btn-secondary" title="Detalle"><i
                  class="bx bx-zoom-in"></i></a>
                <a [routerLink]="" (click)="removeCotizacion(cotizacion)" class="btn-table btn btn-secondary"
                    title="Eliminar"><i class="bx bx-trash-alt"></i></a>
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="11" align="right">
                <button type="button" class="btn btn-outline-primary" (click)="exportCotizacionesToPDF()" [disabled]="(loading === true) || (isCheckedItem(cotizaciones) === false)">
                  <i class="bx bx-spreadsheet font-size-16 align-middle"></i> Generar documentos PDF
                </button>
              </td>
            </tr>
          </tfoot>
        </table>

      </div>
    </div>
  </div> <!-- end col -->
</div> <!-- end row -->