<!-- ========== Left Sidebar Start ========== -->
<div class="vertical-menu">

    <div data-simplebar class="h-100">

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu list-unstyled" id="side-menu">

                <span *ngFor="let section of menu">
                    <li class="menu-title">{{ section.title }}</li>

                    <li *ngFor="let group of section.groups">
                        <a *ngIf="(group.header === false)" [routerLink]="group.route">
                            <i class="bx {{ group.icon }}"></i>
                            <span>{{ group.title }}</span>
                        </a>
                        <a *ngIf="(group.header === true)" href="javascript: void(0);" class="has-arrow">
                            <i class="bx {{ group.icon }}"></i>
                            <span>{{ group.title }}</span>
                        </a>
                        <ul class="sub-menu" aria-expanded="false" *ngFor="let item of group.items">
                            <li><a [routerLink]="item.route">{{ item.title }}</a></li>
                        </ul>
                    </li>
                </span>

            </ul>
        </div>
        <!-- Sidebar -->

    </div>
</div>
<!-- Left Sidebar End -->