<!-- ========== Left Sidebar Start ========== -->
<div class="vertical-menu">

    <div data-simplebar class="h-100">

        <!--- Sidemenu -->
        <div id="sidebar-menu">

            <!-- Logo -->
            <div class="logo-container">
                <img class="menu-logo" src="assets/images/logo.png">
            </div>

            <!-- Role: Administrador [admin] -->
            <ul class="metismenu list-unstyled" id="side-menu" *ngIf="(loggedUser !== null) && (loggedUser.role.name === 'admin')">

                <!-- Menu -->
                <li class="menu-title" key="t-menu">Menu</li>
                <li>
                    <a [routerLink]="['']" class="waves-effect">
                        <i class="bx bx-home-circle"></i>
                        <span key="t-menudashboard">Dashboard</span>
                    </a>
                </li>

                <!-- General -->
                <li class="menu-title" key="t-general">General</li>
                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="bx bx-cog"></i>
                        <span key="t-sistema">Sistema</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a [routerLink]="['parameters']" key="t-sistemaparameters">Parametros de sistema</a></li>
                    </ul>
                </li>
                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="bx bxs-user-detail"></i>
                        <span key="t-usuarios">Usuarios</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a [routerLink]="['usuarios/create']" key="t-usuariosnuevo">Nuevo usuario</a></li>
                        <li><a [routerLink]="['usuarios']" key="t-usuarioslista">Lista de usuarios</a></li>
                    </ul>
                </li>
                <li>
                    <a [routerLink]="['compradores']" class="waves-effect">
                        <i class="bx bx-purchase-tag-alt"></i>
                        <span key="t-compradores">Compradores</span>
                    </a>
                </li>
                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="bx bxs-briefcase-alt"></i>
                        <span key="t-clientes">Clientes</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a [routerLink]="['clientes/create']" key="t-clientesnuevo">Nuevo cliente</a></li>
                        <li><a [routerLink]="['clientes']" key="t-clienteslista">Lista de clientes</a></li>
                    </ul>
                </li>
                <li>
                    <a [routerLink]="['partes']" class="waves-effect">
                        <i class="bx bx-barcode"></i>
                        <span key="t-partes">Partes</span>
                    </a>
                </li>
                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="bx bx-list-ol"></i>
                        <span key="t-solicitudes">Solicitudes</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a [routerLink]="['solicitudes/create']" key="t-solicitudesnuevo">Nueva solicitud</a></li>
                        <li><a [routerLink]="['solicitudes']" key="t-solicitudeslista">Lista de solicitudes</a></li>
                    </ul>
                </li>
                <li>
                    <a [routerLink]="['cotizaciones']" class="waves-effect">
                        <i class="bx bx-money"></i>
                        <span key="t-cotizaciones">Cotizaciones</span>
                    </a>
                </li>
                <li>
                    <a [routerLink]="['ocs']" class="waves-effect">
                        <i class="bx bx-hive"></i>
                        <span key="t-ocs">OCs</span>
                    </a>
                </li>


                <!-- Comprador -->
                <li class="menu-title" key="t-comprador">Comprador</li>
                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="bx bx-log-in-circle"></i>
                        <span key="t-compradorrecepciones">Recepciones</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a [routerLink]="['recepciones/comprador/create']" key="t-compradorrecepcionesnuevo">Nueva recepcion</a></li>
                        <li><a [routerLink]="['recepciones/comprador']" key="t-compradorrecepcioneslista">Lista de recepciones</a></li>
                    </ul>
                </li>
                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="bx bx-log-out-circle"></i>
                        <span key="t-compradordespachos">Despachos</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a [routerLink]="['despachos/comprador/create']" key="t-compradordespachosnuevo">Nuevo despacho</a></li>
                        <li><a [routerLink]="['despachos/comprador']" key="t-compradordespachoslista">Lista de despachos</a></li>
                    </ul>
                </li>

                <!-- Centro distribucion -->
                <li class="menu-title" key="t-centrodistribucion">Centro distribucion</li>
                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="bx bx-log-in-circle"></i>
                        <span key="t-centrodistribucionrecepciones">Recepciones</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a [routerLink]="['recepciones/centrodistribucion/create']" key="t-centrodistribucionrecepcionesnuevo">Nueva recepcion</a></li>
                        <li><a [routerLink]="['recepciones/centrodistribucion']" key="t-centrodistribucionrecepcioneslista">Lista de recepciones</a></li>
                    </ul>
                </li>
                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="bx bx-log-out-circle"></i>
                        <span key="t-centrodistribuciondespachos">Despachos</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a [routerLink]="['despachos/centrodistribucion/create']" key="t-centrodistribuciondespachosnuevo">Nuevo despacho</a></li>
                        <li><a [routerLink]="['despachos/centrodistribucion']" key="t-centrodistribuciondespachoslista">Lista de despachos</a></li>
                    </ul>
                </li>
                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="bx bxs-truck"></i>
                        <span key="t-centrodistribucionentregas">Entregas</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a [routerLink]="['entregas/centrodistribucion/create']" key="t-centrodistribucionentregasnuevo">Nueva entrega</a></li>
                        <li><a [routerLink]="['entregas/centrodistribucion']" key="t-centrodistribucionentregaslista">Lista de entregas</a></li>
                    </ul>
                </li>

                <!-- Sucursal -->
                <li class="menu-title" key="t-sucursal">Sucursal</li>
                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="bx bx-log-in-circle"></i>
                        <span key="t-sucursalrecepciones">Recepciones</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a [routerLink]="['recepciones/sucursal/create']" key="t-sucursalrecepcionesnuevo">Nueva recepcion</a></li>
                        <li><a [routerLink]="['recepciones/sucursal']" key="t-sucursalrecepcioneslista">Lista de recepciones</a></li>
                    </ul>
                </li>
                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="bx bxs-truck"></i>
                        <span key="t-sucursalentregas">Entregas</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a [routerLink]="['entregas/sucursal/create']" key="t-sucursalentregasnuevo">Nueva entrega</a></li>
                        <li><a [routerLink]="['entregas/sucursal']" key="t-sucursalentregaslista">Lista de entregas</a></li>
                    </ul>
                </li>

            </ul>

            <!-- Role: Vendedor solicitante en Centro distribucion [vensol - centro] -->
            <ul class="metismenu list-unstyled" id="side-menu" *ngIf="(loggedUser !== null) && (loggedUser.role.name === 'vensol') && (loggedUser.stationable.type === 'centro')">

                <!-- Menu -->
                <li class="menu-title" key="t-menu">Menu</li>
                <li>
                    <a [routerLink]="['']" class="waves-effect">
                        <i class="bx bx-home-circle"></i>
                        <span key="t-menudashboard">Dashboard</span>
                    </a>
                </li>

                <!-- General -->
                <li class="menu-title" key="t-general">General</li>
                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="bx bx-list-ol"></i>
                        <span key="t-solicitudes">Solicitudes</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a [routerLink]="['solicitudes/create']" key="t-solicitudesnuevo">Nueva solicitud</a></li>
                        <li><a [routerLink]="['solicitudes']" key="t-solicitudeslista">Lista de solicitudes</a></li>
                    </ul>
                </li>
                <li>
                    <a [routerLink]="['cotizaciones']" class="waves-effect">
                        <i class="bx bx-money"></i>
                        <span key="t-cotizaciones">Cotizaciones</span>
                    </a>
                </li>
                <li>
                    <a [routerLink]="['ocs']" class="waves-effect">
                        <i class="bx bx-hive"></i>
                        <span key="t-ocs">OCs</span>
                    </a>
                </li>

                <!-- Centro distribucion -->
                <li class="menu-title" key="t-centrodistribucion">Centro distribucion</li>
                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="bx bx-log-in-circle"></i>
                        <span key="t-centrodistribucionrecepciones">Recepciones</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a [routerLink]="['recepciones/centrodistribucion/create']" key="t-centrodistribucionrecepcionesnuevo">Nueva recepcion</a></li>
                        <li><a [routerLink]="['recepciones/centrodistribucion']" key="t-centrodistribucionrecepcioneslista">Lista de recepciones</a></li>
                    </ul>
                </li>
                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="bx bx-log-out-circle"></i>
                        <span key="t-centrodistribuciondespachos">Despachos</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a [routerLink]="['despachos/centrodistribucion/create']" key="t-centrodistribuciondespachosnuevo">Nuevo despacho</a></li>
                        <li><a [routerLink]="['despachos/centrodistribucion']" key="t-centrodistribuciondespachoslista">Lista de despachos</a></li>
                    </ul>
                </li>
                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="bx bxs-truck"></i>
                        <span key="t-centrodistribucionentregas">Entregas</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a [routerLink]="['entregas/centrodistribucion/create']" key="t-centrodistribucionentregasnuevo">Nueva entrega</a></li>
                        <li><a [routerLink]="['entregas/centrodistribucion']" key="t-centrodistribucionentregaslista">Lista de entregas</a></li>
                    </ul>
                </li>

            </ul>

            <!-- Role: Vendedor solicitante en Sucursal [vensol - sucursal] -->
            <ul class="metismenu list-unstyled" id="side-menu" *ngIf="(loggedUser !== null) && (loggedUser.role.name === 'vensol') && (loggedUser.stationable.type === 'sucursal')">

                <!-- Menu -->
                <li class="menu-title" key="t-menu">Menu</li>
                <li>
                    <a [routerLink]="['']" class="waves-effect">
                        <i class="bx bx-home-circle"></i>
                        <span key="t-menudashboard">Dashboard</span>
                    </a>
                </li>

                <!-- General -->
                <li class="menu-title" key="t-general">General</li>
                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="bx bx-list-ol"></i>
                        <span key="t-solicitudes">Solicitudes</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a [routerLink]="['solicitudes/create']" key="t-solicitudesnuevo">Nueva solicitud</a></li>
                        <li><a [routerLink]="['solicitudes']" key="t-solicitudeslista">Lista de solicitudes</a></li>
                    </ul>
                </li>
                <li>
                    <a [routerLink]="['cotizaciones']" class="waves-effect">
                        <i class="bx bx-money"></i>
                        <span key="t-cotizaciones">Cotizaciones</span>
                    </a>
                </li>
                <li>
                    <a [routerLink]="['ocs']" class="waves-effect">
                        <i class="bx bx-hive"></i>
                        <span key="t-ocs">OCs</span>
                    </a>
                </li>

                <!-- Sucursal -->
                <li class="menu-title" key="t-sucursal">Sucursal</li>
                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="bx bx-log-in-circle"></i>
                        <span key="t-sucursalrecepciones">Recepciones</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a [routerLink]="['recepciones/sucursal']" key="t-sucursalrecepcioneslista">Lista de recepciones</a></li>
                    </ul>
                </li>
                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="bx bxs-truck"></i>
                        <span key="t-sucursalentregas">Entregas</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a [routerLink]="['entregas/sucursal/create']" key="t-sucursalentregasnuevo">Nueva entrega</a></li>
                        <li><a [routerLink]="['entregas/sucursal']" key="t-sucursalentregaslista">Lista de entregas</a></li>
                    </ul>
                </li>

            </ul>

        </div>

        <!-- Sidebar -->

    </div>
</div>
<!-- Left Sidebar End -->