<!-- Loading -->
<div *ngIf="(loading === true)">
    <app-loading></app-loading>
</div>
<!-- Loading ends -->

<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="mb-0 font-size-18">Lista de despachos</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item">Despachos</li>
                    <li class="breadcrumb-item">Comprador</li>
                    <li class="breadcrumb-item active">Lista de despachos</li>
                </ol>
            </div>

        </div>
    </div>
</div>
<!-- end page title -->

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <h4 class="card-title">Despachos</h4>
                <p class="card-title-desc">Lista de despachos del comprador</p>

                <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-bordered dt-responsive nowrap row-border hover" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                    <thead>
                        <tr>
                            <th>N° Despacho</th>
                            <th>Fecha</th>
                            <th>Destino</th>
                            <th>N° Documento</th>
                            <th>Partes</th>
                            <th>Despachado por</th>
                            <th>Comentario</th>
                            <th>Opciones</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="(loading === true)">
                        <tr>
                            <td colspan="8" style="text-align: center;"><i class="bx bx-loader bx-spin font-size-16 align-middle mr-2"></i>Cargando..</td>
                        </tr>
                    </tbody>
                    <tbody *ngIf="(loading === false)">
                        <tr *ngFor="let despacho of despachos">
                            <td align="center">{{ despacho.id }}</td>
                            <td align="center">{{ dateStringFormat(despacho.fecha) }}</td>
                            <td align="center">{{ despacho.destinable.name }}</td>
                            <td align="center">{{ despacho.ndocumento !== null ? despacho.ndocumento : '' }}</td>
                            <td align="right">{{ despacho.partes_total }}</td>
                            <td align="center">{{ despacho.responsable }}</td>
                            <td align="left">{{ despacho.comentario !== null ? despacho.comentario : '' }}</td>
                            <td align="center">
                                <a [routerLink]="['details', despacho.id]" class="btn-table btn btn-secondary" title="Detalle"><i
                                    class="bx bx-zoom-in"></i></a>
                                <a [routerLink]="['edit', despacho.id]" class="btn-table btn btn-secondary" *ngIf="(loggedUser !== null) && (['admin', 'agtcom', 'colcom'].includes(loggedUser.role.name))" title="Editar"><i class="bx bx-edit-alt"></i></a>
                                <a [routerLink]="" (click)="removeDespacho(despacho)" class="btn-table btn btn-secondary" *ngIf="(loggedUser !== null) && (['admin', 'agtcom', 'colcom'].includes(loggedUser.role.name))" title="Eliminar"><i class="bx bx-trash-alt"></i></a>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="8" align="left">
                                <button type="button" class="btn btn-outline-primary mr-2" (click)="goTo_newDespacho()" *ngIf="(loggedUser !== null) && (['admin', 'agtcom', 'colcom'].includes(loggedUser.role.name))" [disabled]="(loading === true)">
                                    <i class="bx bx-notepad font-size-16 align-middle"></i> Nuevo despacho
                                </button>
                            </td>
                        </tr>
                    </tfoot>
                </table>

            </div>
        </div>
    </div>
    <!-- end col -->
</div>
<!-- end row -->