#login-container .bg-soft-primary {
    background-color: rgba(42, 48, 66, 0.4) !important;
}

#login-container .bg-soft-primary h5,
#login-container .bg-soft-primary p {
    color: #fff !important;
}

#login-container form.ng-invalid .btn-primary.disabled,
#login-container form.ng-invalid .btn-primary:disabled {
    color: #fff;
    background-color: rgba(42, 48, 66, 0.25);
    border-color: rgba(42, 48, 66, 0.25);
}

#login-container form:not(.ng-invalid) .btn-primary {
    color: #fff;
    background-color: rgba(42, 48, 66, 0.75);
    border-color: rgba(42, 48, 66, 0.75);
}

#login-container form:not(.ng-invalid) .btn-primary:hover {
    color: #fff;
    background-color: rgba(42, 48, 66, 0.9);
    border-color: rgba(42, 48, 66, 0.75);
}