<!-- Loading -->
<div *ngIf="(loading === true)">
    <app-loading></app-loading>
</div>
<!-- Loading ends -->

<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="mb-0 font-size-18">Detalle de recepcion</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item">Recepciones</li>
                    <li class="breadcrumb-item">Sucursal</li>
                    <li class="breadcrumb-item active">Detalle</li>
                </ol>
            </div>

        </div>
    </div>
</div>
<!-- end page title -->

<div class="row">

    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div>
                    <span class="card-title">Recepcion {{ recepcion.id >= 0 ? "#" + recepcion.id : '' }}</span>
                </div>
                <span class="badge badge-primary"></span>
                <p class="card-title-desc">Detalle del recepcion</p>
                <div class="row">
                    <div class="col-4">
                        <div class="form-group">
                            <label class="control-label">Sucursal</label>
                            <br>
                            <label>{{ recepcion.sucursal_name !== null ? recepcion.sucursal_name : '' }}</label>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label class="control-label">Recepcionado en</label>
                            <br>
                            <label>{{ recepcion.fecha !== null ? dateStringFormat(recepcion.fecha) : '' }}</label>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label class="control-label">Origen</label>
                            <br>
                            <label>{{ recepcion.centrodistribucion_name !== null ? recepcion.centrodistribucion_name : '' }}</label>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label class="control-label">N° Documento</label>
                            <br>
                            <label>{{ recepcion.ndocumento !== null ? recepcion.ndocumento : '' }}</label>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label class="control-label">Recepcionado por</label>
                            <br>
                            <label>{{ recepcion.responsable !== null ? recepcion.responsable : '' }}</label>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label class="control-label">Comentario</label>
                            <br>
                            <label>{{ recepcion.comentario !== null ? recepcion.comentario : '' }}</label>
                        </div>
                    </div>
                </div>

                <hr>

                <!-- Partes list -->
                <div>
                    <h4 class="card-title">Lista de partes</h4>
                    <p class="card-title-desc">Lista de partes en la recepcion</p>

                    <div class="table-responsive">

                        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-hover table-bordered mb-2">
                            <thead>
                                <tr>
                                    <th>N° Parte</th>
                                    <th>Descripcion</th>
                                    <th>Marca</th>
                                    <th>OC Interna</th>
                                    <th>OC Cliente</th>
                                    <th>Faena</th>
                                    <th>Cantidad</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let parte of partes; index as i">
                                    <td align="center"><i class="bx bx-timer icon-table" *ngIf="(parte.backorder === true)"></i>{{ parte.nparte !== null ? parte.nparte : '' }}</td>
                                    <td align="center">{{ parte.descripcion !== null ? parte.descripcion : '' }}</td>
                                    <td align="center">{{ parte.marca_name !== null ? parte.marca_name : '' }}</td>
                                    <td align="center">{{ parte.oc_id !== null ? parte.oc_id : '' }}</td>
                                    <td align="center">{{ parte.oc_noccliente !== null ? parte.oc_noccliente : '' }}</td>
                                    <td align="center">{{ parte.faena_name !== null ? parte.faena_name : '' }}</td>
                                    <td align="center">{{ parte.cantidad !== null ? parte.cantidad : '' }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="form-buttons mt-2">
                            <button [disabled]="(loading === true)" class="btn btn-light" (click)="goTo_back()">
                                <span>Volver</span>
                            </button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- end card -->

    </div>

</div>
<!-- end row -->