/* You can add global styles to this file, and also import other style files */

/*  DataTables */
.dataTables_length .custom-select {
  padding: 4px 28px 4px 8px !important;
}

.dataTables_paginate .pagination .paginate_button {
  padding: 0px !important;
  margin: 0px !important;
}

.error-response {
  color: #b1324b;
}

.form-buttons {
  text-align: left;
}

.form-buttons button {
  display: inline;
}