/* You can add global styles to this file, and also import other style files */

/*  Display forms */
.badge {
  font-size: 90%;
  margin-bottom: 20px;
}

label.control-label {
  font-weight: 700;
}

.custom-file-label {
  cursor: pointer;
}

.custom-file-label::after {
  display: none; 
}

input[type="number"] {
  text-align: center;
}

/*  DataTables */
.dataTables_length .custom-select {
  padding: 4px 28px 4px 8px !important;
}

.dataTables_paginate .pagination .paginate_button {
  padding: 0px !important;
  margin: 0px !important;
}

.custom-header-checkbox {
  padding-left: 1.5rem;
}

.custom-header-checkbox label {
  font-weight: 600;
}

.icon-table {
  font-size: 24px;
  margin-right: 3px;
  vertical-align: middle;
  font-weight: 400;
}

.error-response {
  color: #b1324b;
}

.form-buttons {
  text-align: left;
}

.form-buttons button {
  display: inline;
}

table tbody tr td .btn-table:not(:last-child) {
  margin-right: 5px;
}

table tfoot tr td:not(:last-child){
  border-right: 0px;
}